# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xcuserdatad
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# CocoaPods (just in case)
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Misc
*.swp
*.swo
*~
